#titulo-articulo-manufacturado-abm{
    text-align: center;
}
#col-articulo-manufacturado-abm-botones{
    text-align: center;
}

#articulo-manufacturado-abm-contenedor{
    border: 1px solid #000;
    box-sizing: border-box;
    min-width: 770px;
    background-color: #ffffffbd;
    margin-top: 70px;
    border-radius: 25px;

}
#articulo-manufacturado-abm-input{
    background-color: #d0d0da71;
    border-color: #000;
}
#articulo-manufacturado-abm-boton-agregar-ingrediente{
    background-color: #2DC653;
}
.articulo-manufacturado-abm-botones-cancelar-modificar{
    background-color: #212529;
    margin: 5px;

}