.row-pedido-listo,
.tabla-cuerpo{
    
    background-color: #fff;
    color: #000;
    min-width: 560px;
    border: 1px solid black;  
}
#boton-detalle{
    background-color: transparent;
    border: none;
    color: #000;
    min-width: 80%;
}
#boton-detalle-acciones{
    background-color: transparent;
    border: none;
    color: #000;
    min-width: 50%;
}
#boton-detalle:hover,#boton-detalle-acciones:hover{
    background-color: rgb(187, 181, 181);
}

.col-pedido{
    padding: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.row-pedido-listo {
    background-color: #90BE6D;
}

.options-form-select{
    border: 0px;
    text-align: center;
}