#contenedor{
    margin-top: 80px;
}

#form-buscar{
    display: flex;
}
#form-control-buscar{
    max-width: 45%;
    margin-right: 5px;
    min-width: 48px;
}
#fila-buscar{
    min-width: 560px;
}
#tabla{
    margin-top: 10px;
}

#tabla-titulo{
    background-color: #212529;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    min-width: 560px;
    padding: 10px;
    text-align: center;
}