.header-home {
  background-color: #ff9e00;
  margin-top: 0px;
}

#boton-pizzas, #boton-lomos, #boton-burgers, #boton-bebidas{
  font-weight: bold;
  font-size: 20px;
  color: #000;
  margin-left: 20px;
  margin-right: 20px;
}