#form-pago-efectivo, #form-retiro-local{
    border: 1px solid #000;
    background-color: #F8F9FA;
}

#form-pago-mp, #form-retiro-dom{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #F8F9FA;
}

.contenedor{
    background-color: #DEE2E6;
    max-width: 416px;
    min-width: 200px;
    margin-top: 80px;
}

#div-detalle{
    background-color: #F8F9FA;
    border: 1px solid #000;
    margin-top: 40px;
}


.form-domicilio{
    border-radius: 0%;
    background-color: transparent;
}

#detalle-total{
    border-top: 1px solid #000;
    font-weight: bold;
    margin-left: 12px;
}

#detalle-total-dato{
    border-top: 1px solid #000;
    font-weight: bold;
    margin-right: 12px;
}

#pedido-boton-volver, #pedido-boton-siguiente{
    margin-top: 20px;
    width: 100%;
}

#pedido-boton-volver{
    background-color: #277DA1;
    margin-bottom: 20px;
}

#pedido-boton-siguiente{
    background-color: #43AA8B;
}

#pedido-boton-detallePedido{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 25%;
    margin-left: 35%;
}

#detallePedido-div{
    margin-top: 5%;
}
