#grid{
    display :grid;
    grid-template-columns: repeat(5, 18%);
    border: transparent;
    font-size: 15px;
    background-color: white;
    align-items: center;
    text-align: center;
    padding-left: 10%;
    
}
#imagenesPedido{
    background-color: transparent;
    max-height: 150px;
    max-width: 150px;
}
#contenedorPedidosCarrito{
    overflow-x: auto;
    max-height: 400px;
    margin-top: 35px;
    margin-bottom:  30px;
    background-color: white;
}

#buttonCarrito{
    border: 1px solid #000000;
    border-radius: 10px;
    width: 362px;
    height: 48px;
    margin-top: 30px;
}


#card{
    border: 0;
}

.rectangulo{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px solid #000000;
}
