.container-header {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttons-modal-form {
  margin-right: 1rem;
}

.thead-rubro {
  background-color: #212529;
  color: #fff;
}