@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #DEE2E6;
}

.table-scrollable {
  max-height: 400px; 
  overflow-y: auto;
}